-# coding: utf-8
.cabecera

.slide
  .cabecera

  .derecha
    %h1
      Seguridad XXX
    %p
      Abby Henríquez Tejera
    %p
      paradoja@gmail.com
    %p
      @paradoja

  %pre#clave-portada
    \  -----BEGIN PGP PUBLIC KEY BLOCK-----
    Version: GnuPG v2.0.19 (GNU/Linux)

    mQENBFBw5oMBCADQnl/PNWrgOb7rWEw70cwQ/U2ln39wQg/B24brePbFr0HlCZT0
    7sVcdaojKvXGflYSkNFPQsdQs6/e1mu5UAaa+7lvdMxzHg5KgagKL2/7J4WO+MJI
    Qsv/f4sH9kurcNtfyQii6LLuHMs+/vt4gjTBojGJ/ER1tFUoc2LTOERgSiyfJ+0l
    XjOJl/xkdyPyKBS3CjB5yVL/0HHIGK7MR+mjc80wWtZ9jLVvIznwueFWwwFXMtnW
    8TH616laNU3SNjsliwrlSxWU1HwO1jTXW7VSucrrEkh59azflvOo1uBsYILyZmjm
    SY2W8BhHEVa5BZ2pBHCXtzoNfn0w9Bb1Hp1hABEBAAG0K0FiYnkgSGVucsOtcXVl
    eiBUZWplcmEgPGFiYnlAcGFyYWRva3NvLm9yZz6JAT4EEwECACgFAlBw5oMCGwMF
    CQPCZwAGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJELNvWtAnMK9LBLwH/i8d
    CARFyeQIrrDmr5hfOPX4BBIMZs1dZ29OOQnloG1GuXgQu3XvDil8GnwtyL+ZBYUU
    JJtKOnKXcj/URYOPvRSo7SO2tssfwBxFK+45RSfSwxLOUCU5PGT3JB30ASeD7z6F
    z/CjPFZvhoOfvC9ztbdXoZGE11GnvtLEvS8aMYeCYZxm+CdHU94xJ+s6PZbO14NR
    ekykGH77Gz0GaE9h1MUMVNwSdUROqL/Xgd2TtQKlh/sJsECzBRVv5kp6WV5e3RZr
    3ha4e857rPXGdBg53fsnnFkg4pcXgH+oX1aCwRAFTMATlYeaKqBdNJpAdl5CsIqU
    BtJw/vTuE/TFHObEIpu5AQ0EUHDmgwEIANSYPK7KH4IEIIVB4Frb0mY/FTqjWyOa
    cbubUPD6tgfHNUMix5o44NFGDZ1c6OLYG35hjMG22o7QKMPeBYnvySkSA89eJoOV
    jrM5BYXRtgNtAxX4DmBlZCIZt0TfvL5eiP0JExFJvcQY7exNbdECUrux4n0ExFbg
    ORLcyKHBkAaunDSkfdeEY+ZtzWbm1NmGT8OLZgcut9c8OpHtXG0Y5hDj3TwlBgPr
    kgIMIZeFilnk2V852XJ5dgdKRuf1FKy4JZa4wzR2GfdgCX68ivw0uWHL6pFdczTi
    A0lack13jf0JESiWRUnXMAK1APrIPC6odhSlgsX6N/kvhauHStZXqnkAEQEAAYkB
    JQQYAQIADwUCUHDmgwIbDAUJA8JnAAAKCRCzb1rQJzCvSyn/B/9lDsmKZwlIyZDg
    WP37bjeowV5GXY8ClUvBlNOSSu39I6a80Y0YusX4h3NsNpejFAr7ly0/5L54UJpG
    Ojnj0Zm1IYtoTRHUo4kKTClPbJ/PXVLF0cOWe+rVfOL0cTI3S+yOC0WbMLCMU0TR
    W1Ag2d57FchHSGAdbMxoJ+tVusCjFVkNR3ttXjvSG9opwuXdELX1+xofMb/n5umZ
    fbF3Sa1TgDI9F2CgoLew/HBr+rDpZcs+YvhFuqKTxcGqwRkEpTnGtQLC1QJkv633
    V6it31kh0NtmX99UU5zI4sL+t3O4k7z85zkQ9zNu9IVy0S0GuB4FUYQ3uO6Q2lce
    KF5KI0w/
    \=UeS4
    \-----END PGP PUBLIC KEY BLOCK-----

.slide
  .cabecera
    .derecha
      Motivación

  %h1 Privacidad en un mundo informatizado

  %ul.note
    %li ¡¡¡¡Miraremos esto por encima!!!!
    %li Def. privacidad
    %li Nos informatizamos mucho. Mucho más de lo que parece.
    %li Nuestros datos están en manos públicas y privadas.
    %li Conflicto entre privacidad ciudadana y transparencia de las instituciones, en la práctica, ocurre al revés

  %ul
    %li Sociedad de la información
    %li Protección de datos

  %ul.slide
    %li Control de la información
    %li Efectos de la información
    %li Anonimato

  %ul.note
    %li ¿Quién controla nuestra información?
    %li Comprar seguros, trabajo, persecución ideológica, racial...
    %li Estamos perdiendo el anonimato
    %li Supermercado americano que sabe todo de los compradores
    %li Google y los catarros y gripes
    %li Anonimato es importante

.slide
  .cabecera
    .derecha
      Motivación

  %h1 Libertad en un mundo informatizado

  %ul
    %li.only-current.slide Existen medios para controlarnos...
    %li.slide Existen medios para controlarnos y se usan.

  %ul.note
    %li Gobiernos y empresas usan nuestros datos.
    %li A veces se crean con otras excusas. Protección de los niños, copyright...
    %li Con la censura pasa igual, vigilancia ⇨ censura
    %li La UE obliga a guardar datos de toda conexión durante 6-24 meses (Esp. 12 meses). Control al comprar móvil. Control al usar cibercafés.
    %li Empresas espiando empleados
    %li Blue Coat, Siria
    %li USA Utah Data Center
    %li NSA interceptando todo
    %li 25S, 29S
    %li Incompetencia, perder datos

  .slide
    %ul
      %li Si no tienes nada que ocultar...
      %li.note ... también tienes mucho que temer

    %ul.slide
      %li
        Si tienen información nuestra:
        %ul.only-current.slide
          %li Las reglas cambian
          %li No sabemos cómo se interpretará la información
          %li No sabemos que la información que hay sea certera

        %ul.slide
          %li Las reglas cambian ⇨ La información tiende a durar más de lo esperado
          %li No sabemos cómo se interpretará la información ⇨ Ni quién la verá
          %li No sabemos que la información que hay sea certera

    %ul.note
      %li Gobiernos y empresas usan nuestros datos.

.slide
  .cabecera
    .derecha
      Motivación


.slide
  .cabecera
    .derecha
      Motivación

  %br
  %pre
    \  #!/bin/perl -sp0777i&lt;X+d*lMLa^*lN%0]dsXx++lMlN/dsM0&lt;j]dsj
    $/=unpack('H*',$_);$_=`echo 16dio\U$k"SK$/SM$n\EsN0p[lN*1
    lK[d2%Sa2/d0$^Ixp"|dc`;s/\W//g;$_=pack('H*',/((..)*)$/)

  %ul.note
    %li RSA
